<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedEvent">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3 text-center *ngIf="selectedEvent">
    {{selectedEvent.name}}
  </h3>

  <h6 text-center *ngIf="selectedEvent">
    {{selectedEvent.description}}
  </h6>
  <ion-img src=" {{selectedEvent.img}}"></ion-img>






  <ion-list>
    <ion-item>
      Full price
      <button ion-button outline item-end icon-left (click)="buyTicket()">
        <ion-icon name="ios-card"></ion-icon>
        10.00 EUR
      </button>
    </ion-item>

    <ion-item>
      Full price
      <button ion-button outline item-end icon-left (click)="buyTicket()">
        <ion-icon name="logo-bitcoin"></ion-icon>
        0.001 BTC
      </button>
    </ion-item>

  </ion-list>


</ion-content>
