<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>TicketCoin</ion-title>
  </ion-navbar>


  <ion-toolbar no-border-top>



    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateEvents()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>



<!-- search result -->
<ion-content padding [hidden]="queryText.length == 0">

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list #eventList [hidden]="events.length == 0">
    <ion-item-sliding *ngFor="let event of events" #slidingItem >
        <button ion-item (click)="goToEventDetail(event)">
          <h3>{{event.name}}</h3>
          <p>
            {{event.name}} &mdash;
            {{event.name}}:
            {{event.name}}
          </p>
        </button>

    </ion-item-sliding>
  </ion-list>

  <ion-list-header [hidden]="events.length > 0">
      No Events Found
  </ion-list-header>

</ion-content>


<!-- home content -->
<ion-content padding [hidden]="queryText.length > 0"  class="card-background-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
 <ion-card *ngFor="let category of eventCategories" (click)="goToEventListByCategory(category.id)" >
    <img src="{{category.img}}"/>
    <div class="card-title">{{category.title}}</div>
    <div class="card-subtitle">{{eventService.getEventCategoryCount(category.id)}} Proposal</div>
  </ion-card>

  

</ion-content>
